name: Report Size Deltas

# See: https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows
on:
  push:
    paths:
      - .github/workflows/report-size-deltas.yml
  pull_request:
    paths:
      - .github/workflows/report-size-deltas.yml
      - src/**
  workflow_dispatch:
  repository_dispatch:

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - name: Comment size deltas reports to PRs
        uses: arduino/report-size-deltas@v1
        with:
          # Regex matching the names of the workflow artifacts created by the "Compile Examples" workflow
          sketches-reports-source: ^sketches-report-.+
